/* .containerCard {
    background-color: rgb(0, 0, 0);
    background-image: url("../../image/pokeball-.png");
    position: relative;
    overflow: hidden;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 40px;
} */

.card {
    padding-top: 80px;
    margin-bottom: 20px;
    z-index: -1;
    border: none;
}

.poke {
display: flex;
justify-content: center;
width: 90%;
margin-bottom: -150px;
z-index: 1;
}
.poke:hover {
    display: flex;
justify-content: center;
    width: 100%;
}

.ball {
display: flex;
justify-content: center;
position:relative;
width: 90%;
z-index: -1;
/* width: 250px;
height: 250px;
overflow:hidden;
margin-top:-200px;
margin: auto; */

}

/* .nameCard {
    font-family: "Segoe Print";
    color: rgb(255, 255, 255);
    box-shadow: none;
    text-decoration: none;
    font-weight: bold;
}

.imagePokemon {
    width: 7rem;
    position: relative;
    bottom: 60px;
}
.imagePokemon:hover {
    width: 10rem;
}

.tipos {
    position: relative;
    bottom: 105px;
    color: black;
}

.home {
    font-size: 20px;
    border: solid 3px;
    border-radius: 6px;
    background-color: rgb(234, 234, 234);
    width: max-content;
    padding: 4px;
    margin: 40px;
} */