.pokedex {
    margin-bottom: 50px;
    width: 1170px;
}

.nombre {
    position: absolute;
    top: 345px;
    left: 660px;
    color:white;
    font-weight: bold;
}

.pokemon {
    position: absolute;
    top: 440px;
    left: 650px;
    width: 125px;
}

.caracteristicas {
    color: white;
    position: absolute;
    top: 380px;
    left: 1005px;
    padding: 84px;
    background-color: rgb(240, 73, 73);
}