.barra {
    background-color: tomato;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.buscador {
    font-size: 18px;
    border-radius: 5px;
    border: solid black 2px;
}

.boton {
    font-size: 18px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background-color: silver;
    border: solid black 2px;
}

.boton:hover {
    background-color: yellow;
    border: solid rgb(55, 55, 243) 2px;
    width: 80px;
}

.homeBar {
    position: relative;
    right: 1420px;
}

.goHome {
    width: 120px;
}
