.barra {
    background-color: rgb(240, 73, 73);
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.buscador {
    font-size: 18px;
    border-radius: 5px;
    border: solid black 2px;
}

.boton {
    font-size: 18px;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    background-color: silver;
    border: solid black 2px;
}

.boton:hover {
    background-color: yellow;
    border: solid rgb(46, 46, 206) 2px;
    color:  rgb(46, 46, 206);
}

.homeBar {
    position: relative;
    right: 1280px;
}

.goHome {
    width: 100px;
}
